
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IKP-Management </title>
    <link rel="stylesheet" href="../css/main.css">
    <script src="../scripts/js/angular.min.js"></script>
    <script src="../scripts/js/ui-bootstrap-tpls-2.0.0.min.js"></script>
    <script src="../scripts/js/angular-animate.min.js"></script>
    <script src="../scripts/js/angular-filter.min.js"></script>


    <script src="../scripts/js/control.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="../scripts/js/bootstrap.min.js"></script>
    <script>
        function entry() {
            var entryType = document.getElementById("entType");
            var devQuantity = document.getElementById("devQuant");
            if (entryType.value != "Single"){
                devQuantity.value = "";
                devQuantity.disabled = "";

            }else {
                devQuantity.value = 1;
                devQuantity.disabled = "true";
            }
        }
        function assign(){
            var availStock = document.getElementById("avaStock");
            var hardQty = document.getElementById("hrdQty");

            if(availStock.value != 1){
                hardQty.disabled = "";
            }else{
                hardQty.disabled = "true";
                hardQty.value = 1;
            }
        }
    </script>
</head>
<body ng-app="inventoryApp" >
<div class="container-fluid"><!--main body container-->
    <div class="row-fluid"><!--header-->
        <div class="page-header">
            <h3>IKP Inventory Management </h3>
        </div>
    </div>
    <div class="row"><!--Nav + body content-->
        <div class="col-md-2 col-lg-2 navbg">
            <ul class="nav nav-pills nav-stacked">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inventory<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="tab" href="#addtoInvetory">Add</a></li>
                        <li><a data-toggle="tab" href="#viewInventory">View</a></li>
                        <li><a data-toggle="tab" href="#UpdateInventory">Update</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Assignments<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="tab" href="#viewAssignments">View</a></li>
                        <li><a data-toggle="tab" href="#updateAssignments">Update</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="col-md-10 col-lg-10">
            <div class="row">
                <div class="tab-content">
                    <div class="welcome tab-pane fade in active"><h3>Welcome to the IKP Inventory!!!</h3></div>
                    <div id="addtoInvetory" class="tab-pane fade ">
                        <!--Device registration-->
                        <div class="container">
                            <form role="form" class="form-horizontal" action="../server/addinventory.php" method="post" ng-controller="addinventoryController" >
                                <h3>Add to Inventory</h3>
                                <div class="divider"></div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-lg-2" >Device category:</label>
                                    <div class="col-lg-6 col-md-6">
                                        <select class="form-control" name="devCategory" placeholder="Choose a catergory" ng-model="devCat">
                                            <option  ng-selected="true" value="">Choose a catergory...</option>
                                            <option ng-repeat="cat in category | unique:'Category'">{{cat.Category}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-lg-2" >Choose device :</label>
                                    <div class="col-lg-6 col-md-6">
                                        <select class="form-control" name="deviceType" placeholder="Choose an option that perfectly matches the device or choose the closest one " ng-model="devNg" required>
                                            <option ng-disabled="true" ng-selected="true" value="">Choose a Device...</option>
                                            <option ng-repeat="dev in device | unique:'dev' | filter:{Category:devCat}">{{dev.dev}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-lg-2">Brand name :</label>
                                    <div class="col-lg-6 col-md-6">
                                        <input type="text" class="form-control" name="brandName" placeholder="Enter Brand Name" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-lg-2">Quantity:</label>
                                    <div class="col-lg-6 col-md-6">
                                        <input type="number" class="form-control" id="devQuant" name="devQuantity" min="1" placeholder="Enter quantity" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-lg-2">Condition :</label>
                                    <div class="col-lg-6 col-md-6">
                                        <select class="form-control" name="deviceCondition" placeholder="Choose whether the device is new/old/refurbished" required>
                                            <option ng-disabled="true" ng-selected="true" value="">choose a device condition</option>
                                            <option value="Old">Old</option>
                                            <option value="New">New</option>
                                            <option value="Refurbished">Refurbished</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-lg-2" >Description:</label>
                                    <div class="col-lg-6 col-md-6">
                                        <textarea  class="form-control" name="deviceDesc" placeholder="Provide device description or any information pertaining to the device..." required></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-default">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="viewInventory" class="tab-pane fade">
                        <div class="container">
                            <form class="form" role="form"> <!-- search field(incomplete) size="78"-->
                                <div class="form-group ">
                                    <input type="text" class="form-control"  type="text"  placeholder="Search... " ng-model="inventSearch">
                                </div>

                            </form>
                            <div class="table-responsive">
                                <table class="table table-hover" ng-controller = "viewInventoryController">
                                    <thead>
                                    <tr>
                                        <th>Sno</th>
                                        <th>Category</th>
                                        <th>Device</th>
                                        <th>Brand</th>
                                        <th>Quantity</th>
                                        <th>Condition</th>
                                        <th>Description</th>
                                        <th>QR Data</th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    <tr ng-repeat="entry in entries | filter: inventSearch" ng-click = "open('lg');">
                                        <td>{{entry.Sno}}</td>
                                        <td>{{entry.devCategory}}</td>
                                        <td>{{entry.devName}}</td>
                                        <td>{{entry.brandName}}</td>
                                        <td>{{entry.devQuantity}}</td>
                                        <td>{{entry.devCondition}}</td>
                                        <td>{{entry.Description}}</td>
                                        <td>{{entry.qrData}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="UpdateInventory" class="tab-pane fade" ng-controller = "updateInventoryController">
                        <div class="container">
                            <form role="form" class="form-inline"  method="post"  >
                                <h4>Filter By</h4>
                                <div class="form-group">
                                    <label>Category:</label>
                                    <select class="form-control" name="devCategory" placeholder="Choose a catergory" ng-model="filterByCategory">
                                        <option  ng-selected="true" value="">Choose a catergory...</option>
                                        <option ng-repeat="cat in category | unique:'Category'">{{cat.Category}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Device:</label>
                                    <select class="form-control" name="deviceType" ng-model="filterByDevice" required>
                                        <option  ng-selected="true" value="">Choose a Device...</option>
                                        <option ng-repeat="dev in device | unique:'dev' | filter:{Category:filterByCategory}">{{dev.dev}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Condition:</label>
                                    <select class="form-control" name="devCondition"  ng-model="filterByCondition">
                                        <option  ng-selected="true" value="">choose a device condition</option>
                                        <option value="Old">Old</option>
                                        <option value="New">New</option>
                                        <option value="Refurbished">Refurbished</option>
                                    </select>
                                </div>
                            </form>
                            <div class="container custSearch">
                                <form class="form-horizontal">
                                    <div class="form-group ">
                                        <input type="text" class="form-control col-lg-4 col-md-4"  type="text"  placeholder="Search... " ng-model="devTextSearch">
                                    </div>
                                </form>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Sno</th>
                                        <th>Category</th>
                                        <th>Device</th>
                                        <th>Brand</th>
                                        <th>Quantity</th>
                                        <th>Condition</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    <tr ng-repeat="entry in entries | filter: devTextSearch |filter: filterByCategory | filter: filterByDevice | filter: filterByCondition " ng-click = "open('lg');">
                                        <td>{{entry.Sno}}</td>
                                        <td>{{entry.devCategory}}</td>
                                        <td>{{entry.devName}}</td>
                                        <td>{{entry.brandName}}</td>
                                        <td>{{entry.devQuantity}}</td>
                                        <td>{{entry.devCondition}}</td>
                                        <td>{{entry.Description}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="viewAssignments" class="tab-pane fade " ng-controller="viewAssignmentsController">
                        <div class="container">
                            <form class="form" role="form"> <!-- search field(incomplete) size="78"-->
                                <div class="form-group ">
                                    <input type="text" class="form-control"  type="text"  placeholder="Search... " ng-model="allotSearch">
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table class="table table-hover" >
                                    <thead>
                                    <tr>
                                        <th>Sno</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Room No.</th>
                                        <th>Device</th>
                                        <th>Condition</th>
                                        <th>Comments</th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    <tr ng-repeat="entry in entries | filter: allotSearch" ng-click = "open('lg');">
                                        <td>{{entry.Sno}}</td>
                                        <td>{{entry.Name}}</td>
                                        <td>{{entry.Email}}</td>
                                        <td>{{entry.Room}}</td>
                                        <td>{{entry.Device}}</td>
                                        <td>{{entry.Condition}}</td>
                                        <td>{{entry.Comments}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="updateAssignments" class="tab-pane fade " ng-controller="updateAssignmentsController">
                        <div class="container">
                            <form class="form" role="form"> <!-- search field(incomplete) size="78"-->
                                <div class="form-group ">
                                    <input type="text" class="form-control"  type="text"  placeholder="Search... " ng-model="allotSearch">
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table class="table table-hover" >
                                    <thead>
                                    <tr>
                                        <th>Sno</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Room No.</th>
                                        <th>Device</th>
                                        <th>Condition</th>
                                        <th>Comments</th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    <tr ng-repeat="entry in entries | filter: allotSearch" ng-click = "open('lg');">
                                        <td>{{entry.Sno}}</td>
                                        <td>{{entry.Name}}</td>
                                        <td>{{entry.Email}}</td>
                                        <td>{{entry.Room}}</td>
                                        <td>{{entry.Device}}</td>
                                        <td>{{entry.Condition}}</td>
                                        <td>{{entry.Comments}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"><!--footer-->
        <nav class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h4 class="navbar-brand">All rights reserved @ Institut für kern physik</h4>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>
